<?xml version="1.0" encoding="UTF-8"?>

<policyconfig>
        <action id="com.canonical.unity.AccountsService.ModifyOwnUser">
                <description>Set properties of own user</description>
                <message>Authentication is required to set one's own unity properties.</message>
                <defaults>
                        <allow_any>yes</allow_any>
                        <allow_inactive>yes</allow_inactive>
                        <allow_active>yes</allow_active>
                </defaults>
        </action>

        <action id="com.canonical.unity.AccountsService.ModifyAnyUser">
                <description>Set properties of any user</description>
                <message>Authentication is required to set another user's unity
properties.</message>
                <defaults>
                        <allow_any>no</allow_any>
                        <allow_inactive>no</allow_inactive>
                        <allow_active>no</allow_active>
                </defaults>
        </action>
</policyconfig>
