[Indicator Service]
Name=chewie-network
ObjectPath=/com/canonical/settings/network
Position=69

[phone]
ObjectPath=/com/canonical/settings/network/phone

[desktop]
ObjectPath=/com/canonical/settings/network/desktop
