Source: unity8
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libdee-qt5-dev (>= 3.0),
               libgl1-mesa-dev[!armhf] | libgl-dev[!armhf],
               libgl1-mesa-dri,
               libgles2-mesa-dev[armhf],
               libhud-client2-dev,
               libpulse-dev,
               libunity-core-6.0-dev (<< 7.80),
               libxcb1-dev,
               pkg-config,
               python3,
               python (>= 2.7),
               python-setuptools,
               qt5-default,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
               qtdeclarative5-xmllistmodel-plugin,
               ttf-ubuntu-font-family,
               libunity-scopes-json-def-phone,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/unity
# If you aren't a member of ~unity-team but need to upload
# packaging changes, just go ahead. ~unity-team will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~unity-team/unity/8.0
Vcs-Browser: https://bazaar.launchpad.net/~unity-team/unity/phablet/8.0

Package: unity8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity8-private (= ${binary:Version}),
         indicators-client (>= 0.6.1),
         qtdeclarative5-dee-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         qtdeclarative5-unity-notifications-plugin | unity-notifications-impl,
         unity-notifications-impl-1,
         qtdeclarative5-xmllistmodel-plugin,
         unity8-fake-env | qtubuntu-shell,
Recommends: ${unity-default-masterscopes},
            indicators-client-plugin-datetime (>= 0.6.1),
            indicators-client-plugin-messaging (>= 0.6.1),
            indicators-client-plugin-network (>= 0.6.1),
            indicators-client-plugin-power (>= 0.6.1),
            indicators-client-plugin-sound (>= 0.6.1),
Description: Unity 8 shell
 The Unity 8 shell is the primary user interface for Ubuntu devices.

Package: unity8-private
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Unity 8 private libs
 The Unity 8 shell is the primary user interface for Ubuntu devices.
 .
 This package contains the private libraries for QML and other components
 only used by the shell.

Package: unity8-fake-env
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
Provides: qtubuntu-shell,
Description: Fake environment for running Unity 8 shell
 Provides fake implementations of some QML modules used by Unity 8 shell
 (e.g Ubuntu.Application) so that you can run it in a sandboxed environment.

Package: unity8-autopilot
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${python:Depends},
         libautopilot-qt,
         libqt5test5,
         libqt5widgets5,
         python-evdev,
         unity8 (>= ${source:Version}),
         unity8-fake-env (>= ${source:Version}),
Description: Test package for Unity 8 shell
 Autopilot tests for the unity8 package
