Source: unity8
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               dbus-test-runner,
               debhelper (>= 9),
               dh-apparmor,
               doxyqml,
# To allow cross-compiling to work, we also must append :native
# to g++ so we don't try to run arm g++
# on an x86 CPU for example, when cross-compiling.
               g++:native,
               gdb,
               graphviz,
               gsettings-ubuntu-schemas (>= 0.0.2+14.10.20140815),
               libandroid-properties-dev,
               libconnectivity-qt1-dev (>= 0.7.1),
               libevdev-dev,
               libgeonames-dev (>= 0.2),
               libgnome-desktop-3-dev,
               libgl1-mesa-dev[!arm64 !armhf] | libgl-dev[!arm64 !armhf],
               libgl1-mesa-dri,
               libgles2-mesa-dev[arm64 armhf],
               libglib2.0-dev,
               libgsettings-qt-dev,
               libhardware-dev,
               liblightdm-qt5-3-dev,
               libpam0g-dev,
               libpulse-dev,
               libqmenumodel-dev (>= 0.2.12),
               libqtdbusmock1-dev (>= 0.7),
               libqtdbustest1-dev,
               libqt5svg5-dev,
               libqt5xmlpatterns5-dev,
               libsystemsettings-dev,
               libubuntu-app-launch2-dev,
               libubuntu-download-manager-common-dev,
               libubuntugestures5-dev (>= 1.3.2030),
               libubuntugestures5-private-dev (>= 1.3.2030),
               libudev-dev,
               libudm-common-dev,
               libunity-api-dev (>= 8.7),
               libusermetricsoutput1-dev,
# Need those X11 libs touch emulation from mouse events in manual QML tests on a X11 desktop
               libx11-dev[!arm64 !armhf],
               libxcb1-dev[!arm64 !armhf],
               libxi-dev[!arm64 !armhf],
# End of X11 libs
               pkg-config,
               python3-all:any,
               python3-setuptools,
               qtdbustest-runner,
               qml-module-qt-labs-folderlistmodel,
               qml-module-qt-labs-settings,
               qml-module-qtqml-statemachine,
               qml-module-qtmultimedia (>= 5.6),
               qml-module-qtquick-layouts,
               qml-module-qtquick-xmllistmodel,
               qml-module-qtquick2,
               qml-module-qtsysteminfo,
               qml-module-qttest,
               qml-module-ubuntu-components (>= 1.3.2030) | qml-module-ubuntu-components-gles (>= 1.3.2030),
               qml-module-ubuntu-test,
#               qml-module-ubuntu-web,
               qt5-default,
               qtbase5-dev (>= 5.6),
               qtbase5-dev-tools,
               qtbase5-private-dev (>= 5.6),
               qtdeclarative5-dev (>= 5.6),
               qtdeclarative5-dev-tools,
               qtdeclarative5-private-dev (>= 5.6),
               qtdeclarative5-ubuntu-content1,
               qtdeclarative5-ubuntu-settings-components (>= 0.11),
               ttf-ubuntu-font-family,
               xvfb,
               android-headers,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/unity
# If you aren't a member of ~unity-team but need to upload
# packaging changes, just go ahead. ~unity-team will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/unity8
Vcs-Browser: https://bazaar.launchpad.net/~unity-team/unity8/trunk
XS-Testsuite: autopkgtest
X-Ubuntu-Use-Langpack: yes

Package: indicators-client
Architecture: any
Depends: qmenumodel-qml (>= 0.2.11),
         qml-module-ubuntu-components (>= 1.3.2030) | qml-module-ubuntu-components-gles (>= 1.3.2030),
         unity8 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Indicators client test application
 This package contains the client application for indicators used by autopilot

Package: unity8-greeter
Architecture: any
Depends: unity8 (= ${binary:Version}),
         unity-system-compositor,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: lightdm
Provides: lightdm-greeter
Description: The Unity8 Greeter
 The Unity 8 greeter is the primary login greeter for Ubuntu devices.

Package: unity8
Architecture: any
Provides: indicator-renderer,
Depends: dmz-cursor-theme,
         gsettings-desktop-schemas,
         libcap2-bin,
         libglib2.0-bin,
         qmenumodel-qml (>= 0.2.11),
         qml-module-biometryd,
         qml-module-qt-labs-folderlistmodel,
         qml-module-qt-labs-settings,
         qml-module-qtqml-statemachine,
         qml-module-qtquick-xmllistmodel,
         qml-module-qtsysteminfo,
#        qml-module-ubuntu-web,
         qtdeclarative5-qtmir-plugin (>= 0.4.8),
         qtdeclarative5-ubuntu-telephony0.1,
         ubuntu-system-settings (>= 0.4),
         unity-launcher-impl-13,
         unity8-common (= ${source:Version}),
         unity8-private (= ${binary:Version}),
         unity8-private | unity-launcher-impl,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: indicator-keyboard,
            indicator-session,
            unity-greeter-session-broadcast,
Breaks: indicator-network (<< 0.5.1+14.10.20141014),
        ubuntu-touch-session (<< 0.107),
        unity8-greeter (<< 7.89),
        unity-scope-tool,
        ubuntu-keyboard (<< 0.100),
Replaces: ubuntu-touch-session (<< 0.82~),
          unity8-greeter (<< 7.89),
          unity-scope-tool,
Conflicts: ubuntu-system-settings-wizard,
Description: Unity 8 shell
 The Unity 8 shell is the primary user interface for Ubuntu devices.

Package: unity8-common
Architecture: all
Depends: qml-module-qtquick-layouts,
         qml-module-ubuntu-components (>= 1.3.2030) | qml-module-ubuntu-components-gles (>= 1.3.2030),
         qml-module-ubuntu-thumbnailer0.1 | ubuntu-thumbnailer-impl,
         qtdeclarative5-ubuntu-settings-components (>= 0.11),
         qtdeclarative5-unity-notifications-plugin (>= 0.1.2) | unity-notifications-impl,
         qttranslations5-l10n,
         ubuntu-thumbnailer-impl-0,
         unity-application-impl-27,
         unity-notifications-impl-3,
         unity8-tests | unity-application-impl,
         unity8-schemas,
         ${misc:Depends},
Breaks: unity8 (<< 7.86),
Replaces: unity8 (<< 7.86),
Description: Unity 8 shell (common files)
 The Unity 8 shell is the primary user interface for Ubuntu devices.
 .
 This package contains the QML, graphics and locale files for unity8.

Package: unity8-autopilot
Architecture: all
Depends: autopilot-qt5 (>= 1.4),
         gir1.2-glib-2.0,
         gir1.2-notify-0.7,
         libqt5test5,
         libqt5widgets5,
         ofono-phonesim,
         python3-autopilot,
         python3-evdev,
         python3-fixtures,
         python3-gi,
         qttestability-autopilot (>= 1.4),
         ubuntu-ui-toolkit-autopilot (>= 1.3.2030),
         unity8 (= ${source:Version}),
         unity8-tests (= ${source:Version}),
         url-dispatcher-tools,
         xvfb,
         ${misc:Depends},
         ${python3:Depends},
Description: Test package for Unity 8 shell
 Autopilot tests for the unity8 package

Package: unity8-tests
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: dbus-test-runner,
         parallel,
         qtdbustest-runner,
         qt5-default,
         qtdeclarative5-dev-tools,
         unity8 (= ${source:Version}),
         xvfb,
         ${misc:Depends},
         ${shlibs:Depends},
Provides: unity-application-impl,
          unity-application-impl-27,
          unity8-fake-env,
Replaces: unity8-autopilot (<< 8.02+15.04.20150422-0ubuntu1),
          unity8-fake-env,
Conflicts: unity8-fake-env,
Description: Scripts and mocks for running Unity 8 shell tests
 Provides fake implementations of some QML modules used by Unity 8 shell
 (e.g Ubuntu.Application) so that you can run it in a sandboxed environment
 and scripts to run its test suite.

Package: unity8-private
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: accountsservice-ubuntu-schemas (>= 0.0.7),
         gsettings-ubuntu-schemas (>= 0.0.2+14.10.20140815),
         libhardware2,
         unity8-schemas,
         qtdeclarative5-gsettings1.0,
         qml-module-qtmultimedia,
         ${misc:Depends},
         ${shlibs:Depends},
Provides: unity-launcher-impl,
          unity-launcher-impl-13,
Description: Unity 8 private libs
 The Unity 8 shell is the primary user interface for Ubuntu devices.
 .
 This package contains the private libraries for QML and other components
 only used by the shell.


Package: unity8-schemas
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Replaces: unity-schemas (>= 7.3.1+14.10.20140915),
Breaks: unity-schemas (>= 7.3.1+14.10.20140915),
Description: Unity 8 schemas
 The Unity 8 shell is the primary user interface for Ubuntu devices.
 .
 This package contains the configuration schemas used by unity.

Package: unity8-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Documentation for Unity8
 The Unity 8 shell is the primary user interface for Ubuntu devices. (documentation)
