Source: lomiri
Section: x11
Priority: optional
Maintainer: Lomiri Developers <lomiri-devel-discuss@lists.lomiri.com>
Build-Depends:
 android-headers,
 cmake,
 cmake-extras,
 dbus-test-runner,
 debhelper (>= 9),
 dh-apparmor,
 doxyqml,
 g++:native,
 gdb,
 graphviz,
 gsettings-lomiri-schemas (>= 0.0.2+14.10.20140815),
 libandroid-properties-dev,
 libconnectivity-qt1-dev (>= 0.7.1),
 libevdev-dev,
 libgeonames-dev (>= 0.2),
 libgl1-mesa-dev[!arm64 !armhf] | libgl-dev[!arm64 !armhf],
 libgl1-mesa-dri,
 libgles2-mesa-dev[arm64 armhf],
 libglib2.0-dev,
 libgnome-desktop-3-dev,
 libgsettings-qt-dev,
 libhardware-dev,
 liblightdm-qt5-3-dev,
 libpam0g-dev,
 libpulse-dev,
 libqmenumodel-dev (>= 0.2.12),
 libqtmirserver-dev (>= 0.6.0),
 libqt5sql5-sqlite,
 libqt5svg5-dev,
 libqt5xmlpatterns5-dev,
 libqtdbusmock1-dev (>= 0.7),
 libqtdbustest1-dev,
 liblomirisystemsettings-dev,
 liblomiri-app-launch-dev,
 liblomiri-download-manager-common-dev,
 liblomirigestures5-dev (>= 1.3.2030),
 liblomirigestures5-private-dev (>= 1.3.2030),
 libudev-dev,
 libldm-common-dev,
 liblomiri-api-dev,
 libusermetricsoutput1-dev,
 libx11-dev[!arm64 !armhf],
 libxcb1-dev[!arm64 !armhf],
 libxi-dev[!arm64 !armhf],
 mirtest-dev,
 pkg-config,
 python3-all:any,
 python3-setuptools,
 qml-module-qt-labs-folderlistmodel,
 qml-module-qt-labs-settings,
 qml-module-qtmultimedia (>= 5.6),
 qml-module-qtqml-statemachine,
 qml-module-qtquick-layouts,
 qml-module-qtquick-xmllistmodel,
 qml-module-qtquick2,
 qml-module-qtsysteminfo,
 qml-module-qttest,
 qml-module-lomiri-components (>= 1.3.2030) | qml-module-lomiri-components-gles (>= 1.3.2030),
 qml-module-lomiri-layouts,
 qml-module-lomiri-settings-components,
 qml-module-lomiri-test,
 qtbase5-dev (>= 5.6),
 qtbase5-dev-tools,
 qtbase5-private-dev (>= 5.6),
 qtdbustest-runner,
 qtdeclarative5-dev (>= 5.6),
 qtdeclarative5-dev-tools,
 qtdeclarative5-private-dev (>= 5.6),
 qtdeclarative5-lomiri-content1,
 ttf-ubuntu-font-family,
 ubports-wallpapers,
 xvfb,
# mirtest pkgconfig requires these, but doesn't have a deb dependency. Bug lp:1633537
 libboost-filesystem-dev,
 libboost-system-dev,
Standards-Version: 3.9.4
Homepage: https://github.com/ubports/lomiri
Vcs-Git: https://github.com/ubports/lomiri
XS-Testsuite: autopkgtest
X-Lomiri-Use-Langpack: yes

Package: indicators-client
Architecture: any
Depends:
 qmenumodel-qml (>= 0.2.11),
 qml-module-lomiri-components (>= 1.3.2030) | qml-module-lomiri-components-gles (>= 1.3.2030),
 lomiri (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Indicators client test application
 This package contains the client application for indicators used by autopilot

Package: lomiri-greeter
Architecture: any
Depends:
 lomiri-system-compositor,
 lomiri (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 lightdm,
Provides:
 lightdm-greeter,
Description: The Lomiri Greeter
 The Lomiri 8 greeter is the primary login greeter for Lomiri devices.

Package: lomiri
Architecture: any
Provides:
 indicator-renderer,
Depends:
 dmz-cursor-theme,
 gsettings-desktop-schemas,
 libcap2-bin,
 libglib2.0-bin,
 qmenumodel-qml (>= 0.2.11),
 qml-module-biometryd,
 qml-module-qt-labs-folderlistmodel,
 qml-module-qt-labs-settings,
 qml-module-qtqml-statemachine,
 qml-module-qtquick-xmllistmodel,
 qml-module-qtsysteminfo,
 qtdeclarative5-qtmir-plugin (>= 0.4.8),
 qtdeclarative5-lomiri-telephony0.1,
 qtmir-desktop (>= 0.6.0) | qtmir-android (>= 0.6.0), 
 lomiri-system-settings (>= 0.4),
 lomiri-launcher-impl-13,
 lomiri-common (= ${source:Version}),
 lomiri-private (= ${binary:Version}),
 lomiri-private | lomiri-launcher-impl,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 indicator-keyboard,
 indicator-session,
 lomiri-greeter-session-broadcast,
Breaks:
 indicator-network (<< 0.5.1+14.10.20141014),
 lomiri-keyboard (<< 0.100),
 lomiri-touch-session (<< 0.107),
 lomiri-scope-tool,
 lomiri-greeter (<< 7.89),
Replaces:
 lomiri-touch-session (<< 0.82~),
 lomiri-scope-tool,
 lomiri-greeter (<< 7.89),
Conflicts:
 lomiri-system-settings-wizard,
Description: Lomiri 8 shell
 The Lomiri 8 shell is the primary user interface for Lomiri devices.

Package: lomiri-common
Architecture: all
Depends:
 qml-module-qtquick-layouts,
 qml-module-lomiri-components (>= 1.3.2030) | qml-module-lomiri-components-gles (>= 1.3.2030),
 qml-module-lomiri-settings-components,
 qml-module-lomiri-thumbnailer0.1 | lomiri-thumbnailer-impl,
 qtdeclarative5-lomiri-notifications-plugin (>= 0.1.2) | lomiri-notifications-impl,
 qttranslations5-l10n,
 lomiri-thumbnailer-impl-0,
 lomiri-application-impl-27,
 lomiri-notifications-impl-3,
 lomiri-schemas,
 lomiri-tests | lomiri-application-impl,
 ${misc:Depends},
Breaks:
 lomiri (<< 7.86),
Replaces:
 lomiri (<< 7.86),
Description: Lomiri 8 shell (common files)
 The Lomiri 8 shell is the primary user interface for Lomiri devices.
 .
 This package contains the QML, graphics and locale files for lomiri.

Package: lomiri-autopilot
Architecture: all
Depends:
 autopilot-qt5 (>= 1.4),
 gir1.2-glib-2.0,
 gir1.2-notify-0.7,
 libqt5test5,
 libqt5widgets5,
 ofono-phonesim,
 python3-autopilot,
 python3-evdev,
 python3-fixtures,
 python3-gi,
 qttestability-autopilot (>= 1.4),
 lomiri-ui-toolkit-autopilot (>= 1.3.2030),
 lomiri (= ${source:Version}),
 lomiri-tests (= ${source:Version}),
 url-dispatcher-tools,
 xvfb,
 ${misc:Depends},
 ${python3:Depends},
Description: Test package for Lomiri 8 shell
 Autopilot tests for the lomiri package

Package: lomiri-tests
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 dbus-test-runner,
 parallel,
 qt5-default,
 qtdbustest-runner,
 qtdeclarative5-dev-tools,
 lomiri (= ${source:Version}),
 xvfb,
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 lomiri-application-impl,
 lomiri-application-impl-27,
 lomiri-fake-env,
Replaces:
 lomiri-autopilot (<< 8.02+15.04.20150422-0lomiri1),
 lomiri-fake-env,
Conflicts:
 lomiri-fake-env,
Description: Scripts and mocks for running Lomiri 8 shell tests
 Provides fake implementations of some QML modules used by Lomiri 8 shell
 (e.g Lomiri.Application) so that you can run it in a sandboxed environment
 and scripts to run its test suite.

Package: lomiri-private
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 accountsservice-lomiri-schemas (>= 0.0.7),
 gsettings-lomiri-schemas (>= 0.0.2+14.10.20140815),
 libhardware2,
 qml-module-qtmultimedia,
 qtdeclarative5-gsettings1.0,
 lomiri-schemas,
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 lomiri-launcher-impl,
 lomiri-launcher-impl-13,
Description: Lomiri 8 private libs
 The Lomiri 8 shell is the primary user interface for Lomiri devices.
 .
 This package contains the private libraries for QML and other components
 only used by the shell.

Package: lomiri-schemas
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Replaces:
 lomiri-schemas (>= 7.3.1+14.10.20140915),
Breaks:
 lomiri-schemas (>= 7.3.1+14.10.20140915),
Description: Lomiri 8 schemas
 The Lomiri 8 shell is the primary user interface for Lomiri devices.
 .
 This package contains the configuration schemas used by lomiri.

Package: lomiri-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Documentation for Lomiri
 The Lomiri 8 shell is the primary user interface for Lomiri devices. (documentation)
