#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4
export NO_PNG_PKG_MANGLE=1

%:
	dh $@ --parallel --fail-missing

override_dh_shlibdeps:
	dh_shlibdeps -XlibMockLightDM-qml.so
